
zsmet/graphs.bin
zsmet/data_mvi/graphs.bin
zsmet/data_mvi/molecule_graphs_orig.bin
diploma_project_gnn/data_mvi/data_for_ml/dataset_set2/model2_rna_bin_protein_bin/graphs.bin/graphs.bin
diploma_project_gnn/data_mvi/data_for_ml/dataset_set2/model2_rna_bin_protein_bin/graphs/graphs.bin
diploma_project_gnn/data_mvi/data_for_ml/dataset_set2/model3_binders_nonbinders/graphs.bin/graphs.bin
diploma_project_gnn/data_mvi/data_for_ml/dataset_set2/model3_binders_nonbinders/graphs/graphs.bin
data_mvi/normalized_data/chemdiv_standardized.sdf
data_mvi/normalized_data/enamine_protein_standardized.sdf
data_mvi/normalized_data/all_dedup_df.pkl
data_mvi/normalized_data/enamine_protein_standardized_diversity_picked.sdf
data_mvi/graphs.bin
data_mvi/data_for_ml/enamine_protein_df_ml.pkl
data_mvi/data_for_ml/chemdiv_rna_df_ml.pkl
data_mvi/raw_data/data.zip
data_mvi/raw_data/enamine_protein.sdf
data_mvi/raw_data/chemdiv.sdf
